[submodule "models/maskrcnn-rpn"]
	path = models/maskrcnn-rpn
	url = https://github.com/aninda-ghosh/maskrcnn-rpn
[submodule "models/SAT-SAM"]
	path = models/SAT-SAM
	url = https://github.com/aninda-ghosh/SAT-SAM
